<head>

    <link href="../assets/css/flexslider.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../assets/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../assets/css/landing.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css" media="all"/>

    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery.plugin.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/jquery.flexslider-min.js"></script>
    <script src="../assets/js/smooth-scroll.js"></script>
    <script src="../assets/js/skrollr.min.js"></script>
    <!--<script src="../assets/js/spectragram.js"></script>-->
    <script src="../assets/js/scrollReveal.js"></script>
    <script src="../assets/js/isotope.min.js"></script>
    <!--<script src="../assets/js/twitterFetcher_v10_min.js"></script>-->
    <script src="../assets/js/lightbox.min.js"></script>
    <!--<script src="../assets/js/jquery.countdown.min.js"></script>-->
    <script src="../assets/js/scripts.js"></script>
    <script src="../assets/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>

</head>

<div>
 <div class="loader">
     <div class="spinner">
         <div class="double-bounce1"></div>
         <div class="double-bounce2"></div>
     </div>
 </div>

 <div class="nav-container">
     <nav class="top-bar overlay-bar">
         <div class="container">

             <div class="row utility-menu">
                 <div class="col-sm-12">
                     <div class="utility-inner clearfix">
                         <span class="alt-font"><i class="icon icon_mail"></i> hello@urbanityapp.com</span>

                         <div class="container">

                                 <div class="pull-right loginModal" data-ng-show="showModal">
                                         <modal title="signinform" visible="showModal">
                                             <form ng-submit="signup()" class="form-login landingLogin" autocomplete="off">
                                                 <div class="form-group">
                                                     <label for="email">Email Address</label>
                                                     <input type="email" class="form-control" id="email" ng-model="user.email"
                                                            placeholder="Email Address"/>
                                                     <br>
                                                     <label for="password">Password</label>
                                                     <input type="password" class="form-control" id="password" ng-model="user.password"
                                                            placeholder="Password"/>
                                                 </div>
                                                 <button type="submit" class="btn btn-default">Submit</button>
                                             </form>
                                         </modal>
                                 </div>
                                     <div class="pull-right">
                                         <button ng-click="toggleModal()" class="btn btn-primary login-button btn-xs">Login</button>
                                         <button ng-click="toggleModal()" class="btn btn-primary btn-filledbtn-xs">Signup</button>
                                     </div>
                             </div>
                             <!--<a href="login.html" class="btn btn-primary btn-white btn-xs">Login</a>-->
                             <!--<a href="#" class="btn btn-primary btn-filled btn-xs">Signup</a>-->
                             <!--<a href="#" class="language"><img alt="English" src=""></a>-->
                             <!--<a href="#" class="language"><img alt="English" src=""></a>-->
                         </div>
                     <div class="pull-left">
                         <div class="col-md-2 col-sm-3 columns">

                             <img class="logo logo-dark" alt="Logo" src="">
                         </div>

                         <ul class="social-icons text-left landingsocial">
                             <li>
                                 <a href="#">
                                     <i class="icon social_twitter"></i>
                                 </a>
                             </li>

                             <li>
                                 <a href="#">
                                     <i class="icon social_facebook"></i>
                                 </a>
                             </li>

                             <li>
                                 <a href="#">
                                     <i class="icon social_googleplus"></i>
                                 </a>

                             </li>
                             <li>
                                 <a href="#">
                                     <i class="icon social_pinterest"></i>
                                 </a>
                             </li>
                         </ul>
                         <div class="mobile-toggle">
                             <i class="icon icon_menu"></i>
                         </div>
                     </div>
                     </div>
                 </div>
             </div>
     </nav>
 </div>

 <div class="main-container">
     <section class="hero-slider">
         <ul class="slides">
             <li class="overlay hover-background">
                 <div class="background-image-holder">
                     <img class="background-image" alt="Background Image" src="../assets/img/layer1.jpg">
                 </div>

                 <div class="foreground-image-holder layer-1">
                     <img class="background-image" alt="Background Image" src="../assets/img/layer2.png">
                 </div>

                 <div class="foreground-image-holder layer-2">
                     <img class="background-image" alt="Background Image" src="../assets/img/layer3.png">
                 </div>

                 <div class="container align-vertical">
                     <div class="row">
                         <div class="col-md-6 col-sm-9">
                             <h1 class="text-white">Urbanity: <br>A hub for Expatriates &amp; Travelers.&nbsp;</h1>
                             <a target="_blank" href="#" class="btn btn-primary btn-white">Learn More</a>
                             <a href="#" class="btn btn-primary btn-filled">Free Sign-Up</a>
                         </div>
                     </div>
                 </div>
             </li>

             <li class="overlay">
                 <div class="background-image-holder parallax-background">
                     <img class="background-image" alt="Background Image" src="../assets/img/red_umbrella.jpeg">
                 </div>

                 <div class="container align-vertical">
                     <div class="row">
                         <div class="col-md-6 col-sm-9">
                             <h1 class="text-white">We help people feel at home in their new surroundings.</h1>
                             <a target="_blank" href="#" class="btn btn-primary btn-white">Learn more</a>
                             <a href="#" class="btn btn-primary btn-filled">Free Sign-Up</a>
                         </div>
                     </div>
                 </div>
             </li>
         </ul>
     </section>

     <section class="image-divider overlay duplicatable-content">
         <div class="background-image-holder parallax-background">
             <img class="background-img" alt="Background Image" src="../assets/img/blur-background08.jpg">
         </div>

         <div class="container">
             <div class="row">
                 <div class="col-sm-8 col-sm-offset-2 text-center">
                     <span class="text-white alt-font">What we offer</span>

                     <h1 class="text-white">A Real Connection with Real People</h1>
                 </div>
             </div>

             <div class="row">
                 <div class="col-sm-4">
                     <div class="feature feature-icon-large">
                         <i class="text-white icon icon-global"></i>
                         <h5 class="text-white">A Social Network for Migrant Workers</h5>

                         <p class="text-white">Moving and adjusting to a new home is difficult. Our goal is to make it
                             easier for you! Different places have vastly different ways of life. Wouldn't it be great if
                             you already had friends where you are planning to move? We are here to make that possible!&nbsp;</p>
                     </div>
                 </div>

                 <div class="col-sm-4">
                     <div class="feature feature-icon-large">
                         <i class="text-white icon icon-compass"></i>
                         <h5 class="text-white">A Social Network for Travelers</h5>

                         <p class="text-white">Traveling is one of the best joys of life! It becomes even more exciting
                             in the company of friends. We live in an increasingly connected world, yet our world is more
                             complex than ever. We want you to travel with the peace and comfort of knowing that a friend
                             is nearby, when needed.&nbsp;</p>
                     </div>
                 </div>

                 <div class="col-sm-4">
                     <div class="feature feature-icon-large">
                         <i class="text-white icon icon-chat"></i>
                         <h5 class="text-white">A Social Network for 'Global Locals'</h5>

                         <p class="text-white">Planet Earth is one big family. The internet is great (we love it!), but it does not replace                                    "insider" tips and advice from well-informed locals. We cordially invite you to join us as a "Global Local' who help                                expatriates, migrant workers, tourists, and travelers become familiar with their new surroundings!</p>
                     </div>
                 </div>
             </div>
         </div>
     </section>

     <header class="signup">
         <div class="background-image-holder parallax-background">
             <img class="background-image" alt="Background Image" src="../assets/img/blur-background09.jpg">
         </div>

         <div class="container">
             <div class="row">
                 <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                     <h1 class="text-white">Reduce uncertainty on your next journey.</h1>
                 </div>
             </div>

             <div class="row text-center">

                 <div class="col-sm-12 text-center">
                     <div class="photo-form-wrapper clearfix">
                         <div class="row">
                             <div class="col-md-3 col-sm-4">
                                 <input class="form-email" type="text" placeholder="Email Address">
                             </div>

                             <div class="col-md-3 col-sm-4">
                                 <input class="form-password" type="password" placeholder="Password">
                             </div>

                             <div class="col-md-3 col-sm-4">
                                 <input class="form-password2" type="password" placeholder="Confirm Password">
                             </div>

                             <div class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-4 text-center">
                                 <input type="submit" class="btn btn-primary btn-filled" value="Free Sign-Up">
                             </div>
                         </div>

                     </div>

                     <span class="text-white">We value your trust and privacy. Your information is never sold to third parties.</span>
                 </div>

             </div>

         </div>
     </header>

     <section class="social-bar no-pad">
         <div class="col-md-3 col-sm-6 no-pad">
             <a href="#">
                 <div class="link bg-twitter">
                     <div class="initial">
                         <i class="icon social_twitter"></i>
                     </div>

                     <div class="hover-state">
                         <span class="text-white">Follow On Twitter</span>
                     </div>
                 </div>
             </a>
         </div>

         <div class="col-md-3 col-sm-6 no-pad">
             <a href="#">
                 <div class="link bg-facebook">
                     <div class="initial">
                         <i class="icon social_facebook"></i>
                     </div>

                     <div class="hover-state">
                         <span class="text-white">Friends on Facebook</span>
                     </div>
                 </div>
             </a>
         </div>

         <div class="col-md-3 col-sm-6 no-pad">
             <a href="#">
                 <div class="link bg-linkedin">
                     <div class="initial">
                         <i class="icon social_linkedin"></i>
                     </div>
                     <div class="hover-state">
                         <span class="text-white">Link up on LinkedIn</span>
                     </div>
                 </div>
             </a>
         </div>

         <div class="col-md-3 col-sm-6 no-pad">
             <a href="#">
                 <div class="link bg-googleplus">
                     <div class="initial">
                         <i class="icon social_googleplus"></i>
                     </div>

                     <div class="hover-state">
                         <span class="text-white">Thoughts on Google+</span>
                     </div>
                 </div>
             </a>
         </div>
     </section>
 </div>

 <div class="footer-container">
 </div>
</div>