.social-icons.text-left {
    margin-top: 5px;
    margin-left: 2px;
}

.loginModal {
    position: fixed;
    top: 50px;
    right: 240px;
    height: 200px;
    width: 400px;
    padding: 40px;
    margin: 30px;
    background: rgba(0, 0, 0, 0.5);
    /*background-color: #eee;*/
    border-radius: 10px;
}
.form-control {
    margin: 10px;
}
.landingLogin {
    height: 20px;
}
.form-group {
    margin: 20px;
    width: inherit;
    align-self: center;
}
.btn-default {
    margin: inherit;
    width: inherit;
}

.bg-linkedin {
    background-color: #396598;
}
/*.aside-wrap {*/
    /*box-sizing: border-box;*/
/*}*/
/*.aside-wrap {*/
    /*vertical-align: middle;*/
/*}*/

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 5px;
}

.socialLogin {
    position: fixed;
    top: 0;
    right: 0;
    padding: 5px;
}

.sidebar {
    height: 100%;
    width: 15%;
    float: left;
}
